<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>確認画面</title>
</head>
<body>
    
    <p>名前: <span th:text="${form.name}"></span></p>
    <p>年齢: <span th:text="${form.age}"></span></p>
    <p>自己紹介: <span th:text="${form.bio}"></span></p>
    
    <form method="post" th:action="@{/profile/confirm}" th:object="${form}">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{name}">
        <input type="hidden" th:field="*{age}">
        <input type="hidden" th:field="*{bio}">
        <button type="submit">確定</button>
    </form>


    <form method="post" th:action="@{/profile/edit}" th:object="${form}">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{name}">
        <input type="hidden" th:field="*{age}">
        <input type="hidden" th:field="*{bio}">
        <button type="submit">戻る</button>
    </form>
</body>
</html>

