<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>割引キャンペーン登録</title>
        <meta charset="UTF-8">
    </head>

    <body>
        <h1>割引キャンペーン登録</h1>

        <form th:action="@{/check}" method="post" th:object="${register}">

            <div>
                <label>キャンペーン名: </label>
                <input type="text" th:field="*{name}">
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>

            <div>
                <label>割引種別: </label>
                <select th:field="*{type}">
                    <option th:value="fixed">定額</option>
                    <option th:value="percent">定率</option>
                    <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></span>
                </select>
            </div>
            
            <div>
                <label>割引値: </label>
                <input type="text" th:field="*{value}">
                <span th:if="${#fields.hasErrors('value')}" th:errors="*{value}"></span>
            </div>

            <div>
                <label>開始日: </label>
                <input type="date" th:field="*{startDate}">
                <span th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></span>
            </div>

            <div>
                <label>終了日: </label>
                <input type="date" th:field="*{endDate}">
                <span th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></span>
            </div>

            <button type="submit">確認</button>
        </form>
    </body>
</html>